.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Sentry Config File
.env.sentry-build-plugin

# Local env files
.env.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs

# IDE files
.idea/
.vscode/